.wrapper {
    display: flex;

    main {
        flex: 1;
    }

    @media screen and (max-width: 900px) {

            flex-direction: column;


        main {
            flex: 1;
        }


    }
}
